<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <title>Manic Tech - {{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/pygments.css">
        <link rel="alternate" type="application/atom+xml" href="/atom.xml">
    </head>
    <body>
        <div class="container">
            <div class="page_header">
                <h1 class="logo"><a href="/">Manic Tech<span>技術文件</span></a></h1>
                <!--<div class="search_box">-->
                    <!--<form class="search" action="http://www.google.com/search">-->
                        <!--<input type="hidden" value="blog.miaout17.net" name="as_sitesearch">-->
                        <!--<input class="search_field" type="text" value="" name="as_q">-->
                        <!--<input class="search_btn" type="submit" value="Search">-->
                        <!--</form>-->
                    <!--</div>-->
            </div>

            <div class="inner wrap">
                <div class="content body">
                    {{ content }}
                </div>
                <div class="sidebar">
                    <div id="links">
                        <h3>Links</h3>
                        <ul>
                            <li><a href="/pixnet-rails-convention.html">Pixnet Rails Convention</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p>
            本網誌使用<a href="http://guide.couchdb.org/">CouchDB: The Definitive Guide</a>之樣式。
            </p>
        </div>
    </div>
</body>
</html>
